@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
body {
  font-family: 'Balsamiq Sans', cursive;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  filter: drop-shadow(0 0 15px white);
  overflow: hidden;
  position: relative;
  top: 50px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container {
  width: 1220px;
  font-family: 'Balsamiq Sans', cursive;
  min-height: 800px;
  border: 10px solid #EEEEEE;
  margin: 0 auto;
  background: #EEEEEE;
}

.header {
  display: flex;
  height: 150px;
  flex-direction: row-reverse;
}

.header__block {
  position: relative;
  display: flex;
  width: 131%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: #fff;
  background: url('https://wallpaper.dog/large/5557995.jpg') no-repeat center center / cover;
}

.header__block::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.header__block-title {
  position: relative;
  z-index: 1;
}

.header__block-avatar {
  display: flex;
  width: 20%;
  height: 100%;
}

.nav ul {
  display: flex;
  background: rgb(209, 204, 204);
  margin: 10px 0;
  justify-content: center;
}

.nav li a {
  display: flex;
  padding: 20px;
  text-decoration: none;
  color: #404040;
  font-weight: bold;
  transition: background 0.3s ease;
  border-right: 2px solid rgb(190, 190, 190);
}

.nav li:nth-child(1) {
  border-left: 2px solid rgb(190, 190, 190);
}

.nav li:nth-child(4) {
  display: none;
}

.nav li a:hover {
  background: rgb(173, 173, 173);
}

.content__wrapper {
  display: flex;
}

.content__wrapper-text {
  width: 70%;
  padding: 20px;
  line-height: 20px;
}

.content p {
  line-height: 20px;
}

.sidebar__wrapper-init {
  display: table-caption;
  margin-right: 80px;
  width: 90%;
}

.sidebar__wrapper-skills li {
  padding: 8px 0;
}

.social li {
  padding: 10px 0;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.social li:hover {
  transform: translateX(10px);
}

.sidebar_social {
  display: flex;
  width: 100%;
}

.sidebar_social a {
  text-decoration: none;
}

.craft {
  color: red;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: center;
}

.contacts {
    display: flex;
    position: relative;
    margin-bottom: -95px;
    right: 735px;
    align-items: flex-end;
}
.contacts__box span {
  display: block;
  margin-top: 10px;
}

.contacts__box-mail {
  text-decoration: none;
  color: black;
}

.contacts__box-mail:hover {
  text-decoration: underline;
}
 
.contacts__box h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 8px;
}

.contacts__box-list {
  display: flex;
}
.contacts__box-inner + .contacts__box-inner {
  margin-left: 10px;
}

.contacts__box-inner:nth-child(2) {
  display: flex;
  align-items: flex-end;
  color: red;
}

.contacts__box-inner:hover {
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
  transition: all 0.3s ease;
}

.contacts__box-list p {
  color: red;
  margin-left: 5px;
}

.sidebar_social h2 {
  position: absolute;
  color: red;
}

table,
tr,
td,
th {
  border: 1px solid black;
  font-size: 17px;
}

th {
  font-size: 25px;
  color: #a590c4;
}

table {
  margin: 0 auto;
}

#cat:before {
  content: '';
  width: 295px;
  background: url(../images/cat.png) center top no-repeat;
  height: 180px;
  position: absolute;
  left: 50%;
  margin-left: -130px;
  top: 404px;
}
#cat {
  position: relative;
}
.cat-eye {
  position: absolute;
  display: none;
  width: 60px;
  height: 61px;
}
.cat-eyeball {
  position: absolute;
  left: 22.5px;
  top: 24.5px;
  width: 16px;
  height: 16px;
  background: url(../images/eye.png);
}
#cat-eye-left {
  top: 486px;
  left: 54%;
  margin-left: -31px;
}
#cat-eye-right {
  top: 489px;
  left: 52%;
  margin-left: 17px;
}

.gallery {
  padding: 20px 0 20px;
  color: #fff;
}

.gallery__item-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: -5px;
}

.gallery__item-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.gallery__item-img {
  width: 300px;
  height: 415px;
  margin: 5px;
}

.gallery__item {
  display: flex;
  justify-content: center;
}