.cat {
  display: block;
  position: relative;
  content: '';
  background: url(./img/cat.png) center top no-repeat;
  height: 100%;
  margin: 0 -160px 0 -50px;
  top: 404px;
}

.eye {
  position: relative;
  background-color: black;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  left: calc(50% - 4px);
  top: 0;
}

.eyes {
  position: absolute;
  border-radius: 50%;
  top: 102px;
  left: 74px;
  margin-right: 30px;
  width: 25px;
  height: 25px;
}

.eyes-2 {
  position: absolute;
  border-radius: 50%;
  top: 104px;
  left: 92px;
  margin-left: 30px;
  width: 25px;
  height: 25px;
}
